$sides: (
        'top': 't',
        'right': 'r',
        'bottom': 'b',
        'left': 'l',
);

$XYSides: (
        'x': 'x',
        'y': 'y',
);

@each $side, $letter in $sides {
  @for $px from 0 through 100 {
    .m#{$letter}-#{$px} {
      margin-#{$side}: #{$px}px;
    }
    .p#{$letter}-#{$px} {
      padding-#{$side}: #{$px}px;
    }
  }
}

@each $side, $letter in $XYSides {
  @for $px from 0 through 100 {
    @if $letter == x {
      .m#{$letter}-#{$px} {
        margin: 0 #{$px}px;
      }
    }
    @if $letter == y {
      .m#{$letter}-#{$px} {
        margin: #{$px}px 0;
      }
    }
    @if $letter == x {
      .p#{$letter}-#{$px} {
        padding: 0 #{$px}px;
      }
    }
    @if $letter == y {
      .p#{$letter}-#{$px} {
        padding: #{$px}px 0;
      }
    }
  }
}

@for $px from 0 through 100 {
  .m-#{$px} {
    margin: #{$px}px;
  }
  .p-#{$px} {
    padding: #{$px}px;
  }
}

